<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searched Stock - Stock Market Dashboard</title>
    <link rel="stylesheet" href="static/css/stockResult.css">
</head>
<body>
    <header>
        <h1>Stock Display</h1>
        <div id="user-info">
            <a href="{{ url_for('userDashboard') }}">Back to Dashboard</a>
        </div>
    </header>
    
    <form action="/stockDisplay">
    <section id="watchlist">
        <h2>Searched Stock</h2>
        <ul id="stock-items">
            {% if success %}
            <div class="success-message">
                <p><strong>{{ success }}</strong></p>
                <div class="buttons">
                    <button><a href="{{ url_for('watchlistAdd') }}">Add to Watchlist</a></button>
                </div>
            </div>
            <div class="stock-info">
                <label for="stock_code">Stock Code:</label>
                <input type="text" id="stock_code" placeholder="{{ stockTicker }}" readonly>
                <label for="forecast_days">Days to Forecast:</label>
                <input type="text" id="forecast_days" name="forecast_days" placeholder="30" required>
                <button type="submit" class="displayGraphBtn" name="searchedStock" value="{{ success }}" id="stock-submit">Generate Prediction and Analysis</button>
            </div>
            {% endif %}
            <div id="loading" style="display: none;">Loading...</div>
            <div id="charts" style="display: none;">
                <h1>Stock Prediction Chart</h1>
                <img id="stock_forecast_image" src="static/images/forecast_plot.png" alt="Stock Forecast Chart">
                <h1>Trend Analysis Chart</h1>
                <img id="trend_analysis_image" src="static/images/trend_analysis_plot.png" alt="Trend Analysis Chart">
            </div>
            <script src="static/js/script.js"></script>
        </ul>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </section>
    </form>

    <footer>
        <p>Stock Market Dashboard © 2024</p>
    </footer>

</body>
{% endblock %}
</html>
